<a href="https://colab.research.google.com/github/MandarBorhade/KPMG_virtual_intenship/blob/main/KPMG_internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [7]:
#reading the file
CustomerDemographic = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx' , sheet_name='CustomerDemographic' , header=1)
Transactions = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx' , sheet_name = 'Transactions'  , header = 1)
NewCustomerList = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx' , sheet_name = 'NewCustomerList' , header = 1)
CustomerAddress = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx' , sheet_name = 'CustomerAddress' , header = 1)

<ipython-input-7-ae0fcf8b35b3>:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  NewCustomerList = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx' , sheet_name = 'NewCustomerList' , header = 1)

In [8]:
Transactions.head(2)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03

In [9]:
Transactions.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [10]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.0+ MB

In [11]:
Transactions.dropna(inplace = True)

In [12]:
comparison_date = max(Transactions['transaction_date'])

In [13]:
comparison_date

Timestamp('2017-12-30 00:00:00')

In [14]:
Transactions['Recency'] = comparison_date - Transactions['transaction_date']

In [15]:
Transactions['Recency'] = (Transactions['Recency'] / np.timedelta64(1 , 'D')).astype(int)

In [16]:
#Transactions['Recency'] = Transactions['Recency'].astype(int)

In [17]:
Transactions.sample(2)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,Recency
18684,18685,15,3490,2017-06-12,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,2009-04-12,201
4918,4919,78,2592,2017-11-23,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,1991-07-10,37

In [18]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 406.4+ KB

In [19]:
CustomerDemographic['DOB'] = CustomerDemographic['DOB'].astype('datetime64[ns]')

In [20]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [21]:
CustomerDemographic.sample(2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
3612,3613,Fairfax,Pummery,Male,27,1972-04-21,Budget/Accounting Analyst II,Health,Mass Customer,N,ÌÌºÍÌ¹Ì¯ÍTÌ±Ì¤ÍÌ¥ÍÍhÍÌ²eÍÍÌ¼ÌÌÌ¼Ì£Í ÍÌÌ±Ì ÍÍÍN...,Yes,9.0
2030,2031,Philbert,Albone,Male,99,1987-01-21,Geologist III,NaN,Mass Customer,N,Î©âÃ§ââ«ËÂµâ¤â¥Ã·,No,12.0

In [22]:
CustomerDemographic['full_name'] = CustomerDemographic['first_name'] + ' ' + CustomerDemographic['last_name']

In [23]:
CustomerDemographic['full_name'] = CustomerDemographic['full_name'].str.strip()

In [24]:
CustomerDemographic.sample(3)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure,full_name
3766,3767,Man,Bigglestone,Male,25,1982-09-14,Web Developer IV,NaN,High Net Worth,N,"'""''''""",No,16.0,Man Bigglestone
728,729,Ammamaria,Standbridge,Female,30,1973-10-23,Analog Circuit Design manager,Health,Affluent Customer,N,NaN,No,11.0,Ammamaria Standbridge
2122,2123,Shirley,Negal,Female,36,1993-03-19,Software Engineer II,Manufacturing,Affluent Customer,N,á,No,2.0,Shirley Negal

In [25]:
CustomerDemographic.drop(columns = ['first_name' , 'last_name' , 'default'] , inplace = True )

In [26]:
CustomerDemographic.sample(3)

,customer_id,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name
1786,1787,Male,2,1976-11-21,Executive Secretary,Retail,High Net Worth,N,Yes,13.0,Tull Godehard.sf
3548,3549,Female,0,1966-02-24,Sales Representative,Retail,Mass Customer,N,No,7.0,Jodee Macewan
3650,3651,Male,91,1999-11-15,Human Resources Assistant I,Manufacturing,Mass Customer,N,No,2.0,NaN

In [27]:
CustomerDemographic.isna().sum()

customer_id                              0
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
full_name                              125
dtype: int64

In [28]:
CustomerDemographic.dropna(inplace = True)

In [29]:
CustomerDemographic.isna().sum()

customer_id                            0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
full_name                              0
dtype: int64

In [30]:
CustomerDemographic['gender'].value_counts()

Female    1444
Male      1333
F            1
U            1
Femal        1
Name: gender, dtype: int64

In [31]:
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('F' , 'Female')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('U' , 'Unspecified')
CustomerDemographic['gender'] = CustomerDemographic['gender'].replace('Femal' , 'Female')

In [32]:
CustomerDemographic['gender'].value_counts()

Female         1446
Male           1333
Unspecified       1
Name: gender, dtype: int64

In [33]:
CustomerDemographic.isna().sum()

customer_id                            0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
full_name                              0
dtype: int64

In [34]:
CustomerDemographic['deceased_indicator'].value_counts()

N    2778
Y       2
Name: deceased_indicator, dtype: int64

In [35]:
CustomerDemographic = CustomerDemographic[CustomerDemographic['deceased_indicator'] == 'N']

In [36]:
CustomerDemographic['deceased_indicator'].value_counts()

N    2778
Name: deceased_indicator, dtype: int64

In [37]:
CustomerDemographic.sample(5)

,customer_id,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name
3262,3263,Female,37,1981-08-21,Business Systems Development Analyst,Manufacturing,Affluent Customer,N,No,5.0,Quentin Forte
2748,2749,Male,3,1979-01-12,Sales Representative,Retail,Mass Customer,N,No,5.0,Cale Cunningham
2399,2400,Male,73,1978-02-28,Office Assistant III,Property,Mass Customer,N,Yes,22.0,Lindsay Stollsteiner
2502,2503,Male,80,1967-07-16,Budget/Accounting Analyst I,Health,Affluent Customer,N,Yes,10.0,Devlin Laneham
1048,1049,Male,35,1996-03-02,Software Consultant,Property,Mass Customer,N,No,2.0,Fraser Gaenor

In [38]:
CustomerAddress.sample(2)

,customer_id,address,postcode,state,country,property_valuation
98,103,68 Little Fleur Crossing,2046,New South Wales,Australia,12
1151,1156,098 Veith Hill,4510,QLD,Australia,3

In [39]:
CustomerAddress['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [40]:
CustomerAddress['state'] = CustomerAddress['state'].replace('Victoria' , 'VIC')
CustomerAddress['state'] = CustomerAddress['state'].replace('New South Wales' , 'NSW')

In [41]:
CustomerAddress['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [42]:
DataMerged = Transactions.merge(CustomerDemographic , on = 'customer_id' )

In [43]:
DataMerged.sample(4)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name
1655,9946,7,720,2017-09-18,1.0,Approved,Trek Bicycles,Road,low,medium,...,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,N,No,6.0,Darrel Canet
1157,9532,98,2487,2017-05-02,0.0,Approved,Trek Bicycles,Standard,high,medium,...,Male,92,1978-01-13,Operator,IT,Affluent Customer,N,Yes,14.0,Elton Piggford
7380,2330,53,374,2017-09-14,0.0,Approved,OHM Cycles,Standard,medium,medium,...,Male,81,1992-01-22,Senior Financial Analyst,Financial Services,Mass Customer,N,Yes,8.0,Valdemar MacCoughen
8960,16453,27,728,2017-10-15,0.0,Approved,Trek Bicycles,Standard,medium,medium,...,Male,60,1956-10-03,VP Accounting,Financial Services,Mass Customer,N,Yes,8.0,Winthrop Corser

In [44]:
DataMerged.isna().sum()

transaction_id                         0
product_id                             0
customer_id                            0
transaction_date                       0
online_order                           0
order_status                           0
brand                                  0
product_line                           0
product_class                          0
product_size                           0
list_price                             0
standard_cost                          0
product_first_sold_date                0
Recency                                0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
full_name                              0
dtype: int64

In [45]:
CustomerAddress.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [46]:
DataMergedCustomerAddress = DataMerged.merge(CustomerAddress , on = 'customer_id')

In [47]:
DataMergedCustomerAddress.drop(columns = ['address', 'country'] , inplace = True)

In [48]:
DataMergedCustomerAddress.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date', 'Recency', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'full_name', 'postcode', 'state',
       'property_valuation'],
      dtype='object')

In [49]:
DataMergedCustomerAddress.head(3)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name,postcode,state,property_valuation
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,...,Software Engineer I,Financial Services,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6
1,11065,1,2950,2017-10-16,0.0,Approved,Giant Bicycles,Standard,medium,medium,...,Software Engineer I,Financial Services,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6
2,18923,62,2950,2017-04-26,0.0,Approved,Solex,Standard,medium,medium,...,Software Engineer I,Financial Services,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6

In [50]:
DataMergedCustomerAddress['profit'] = DataMergedCustomerAddress['list_price'] - DataMergedCustomerAddress['standard_cost']

In [51]:
DataMergedCustomerAddress['profit'].head(3)

0     17.87
1    448.68
2    179.44
Name: profit, dtype: float64

In [52]:
import pandas as pd
from datetime import datetime
today = datetime.today()
DataMergedCustomerAddress['age'] = DataMergedCustomerAddress['DOB'].apply(
               lambda x: today.year - x.year - 
               ((today.month, today.day) < (x.month, x.day)) 
               )

In [53]:
t1 = DataMergedCustomerAddress.groupby('customer_id').aggregate({'profit' : 'sum' , 'product_id' : 'count' , 'Recency' : 'min'})

In [54]:
t1.head(3)

              profit  product_id  Recency
customer_id
1            3018.09          11        7
2            2226.26           3      128
9            2353.11           6       78

In [55]:
t1 = pd.DataFrame(t1).reset_index()

In [56]:
t1.head(4)

   customer_id   profit  product_id  Recency
0            1  3018.09          11        7
1            2  2226.26           3      128
2            9  2353.11           6       78
3           12  3540.03           7       67

In [57]:
t1.rename(columns = {'profit' : 'monetary' , 'product_id' : 'frequecy' , 'Recency' : 'recency'} , inplace = True)

In [58]:
quantile = t1.quantile(q = [0.25 , 0.5 , 0.75])

In [59]:
quantile.rename(columns = {'profit' : 'monetary' , 'product_id' : 'frequecy' , 'Recency' : 'recency'} , inplace = True)

In [60]:
quantile.head(4)

      customer_id   monetary  frequecy  recency
0.25       847.25  1796.0725       4.0     18.0
0.50      1723.00  2795.7800       5.0     44.5
0.75      2592.75  4095.4175       7.0     87.0

In [61]:
quantile.to_dict()

{'customer_id': {0.25: 847.25, 0.5: 1723.0, 0.75: 2592.75},
 'monetary': {0.25: 1796.0725, 0.5: 2795.78, 0.75: 4095.4175},
 'frequecy': {0.25: 4.0, 0.5: 5.0, 0.75: 7.0},
 'recency': {0.25: 18.0, 0.5: 44.5, 0.75: 87.0}}

In [62]:
print(quantile['customer_id'][0.25])
print(quantile['customer_id'][0.5])
print(quantile['customer_id'][0.75])

847.25
1723.0
2592.75

In [63]:
# Arguments (x = value, p = recency, monetary, frequency, d = quartiles dict)

#lower the recency, good for store..
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)

#higher value of frequency and monetary lead to a good consumer. here higher value = 1 in reverse way.

def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [64]:
#https://www.kaggle.com/code/yugagrawal95/rfm-analysis
t1['r_score'] = t1['recency'].apply(RScore,args=('recency',quantile))
t1['f_score'] = t1['frequecy'].apply(FMScore, args=('frequecy',quantile))
t1['m_score'] = t1['monetary'].apply(FMScore, args=('monetary',quantile))

In [65]:
t1.head(4)

   customer_id  monetary  frequecy  recency  r_score  f_score  m_score
0            1   3018.09        11        7        1        1        2
1            2   2226.26         3      128        4        4        3
2            9   2353.11         6       78        3        2        3
3           12   3540.03         7       67        3        2        2

In [66]:
t1['rfm_score'] = t1['r_score']*100 + t1['f_score']*10 + t1['m_score']

In [67]:
t1.head(5)

,customer_id,monetary,frequecy,recency,r_score,f_score,m_score,rfm_score
0,1,3018.09,11,7,1,1,2,112
1,2,2226.26,3,128,4,4,3,443
2,9,2353.11,6,78,3,2,3,323
3,12,3540.03,7,67,3,2,2,322
4,13,4337.38,7,27,2,2,1,221

In [68]:
rfm_quantile = t1['rfm_score'].quantile(q = [0.25 , 0.5 , 0.75])

In [69]:
rfm_quantile

0.25    144.0
0.50    277.5
0.75    344.0
Name: rfm_score, dtype: float64

In [70]:
rfm_quantile[0.25]

144.0

In [71]:
def label_customers(x):
  if x <= rfm_quantile[0.25]:
    return 'Bronze'
  elif x <= rfm_quantile[0.5]:
    return 'Silver'
  elif x <= rfm_quantile[0.75]:
    return 'Gold'
  else:
    return 'Platinum'

In [72]:
t1['customer_category'] = t1['rfm_score'].apply(label_customers)

In [73]:
t1.head(4)

,customer_id,monetary,frequecy,recency,r_score,f_score,m_score,rfm_score,customer_category
0,1,3018.09,11,7,1,1,2,112,Bronze
1,2,2226.26,3,128,4,4,3,443,Platinum
2,9,2353.11,6,78,3,2,3,323,Gold
3,12,3540.03,7,67,3,2,2,322,Gold

In [74]:

xlwriter = pd.ExcelWriter('Customer_details.xlsx')



t1.to_excel(xlwriter, sheet_name = 'RFM table', index = False)
DataMergedCustomerAddress.to_excel(xlwriter, sheet_name = 'DataMerged', index = False)



xlwriter.close()

In [75]:
top_customers = DataMergedCustomerAddress.copy()

In [76]:
top_customers.head(3)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,wealth_segment,deceased_indicator,owns_car,tenure,full_name,postcode,state,property_valuation,profit,age
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,...,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6,17.87,68
1,11065,1,2950,2017-10-16,0.0,Approved,Giant Bicycles,Standard,medium,medium,...,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6,448.68,68
2,18923,62,2950,2017-04-26,0.0,Approved,Solex,Standard,medium,medium,...,Mass Customer,N,Yes,10.0,Kristos Anthony,3064,VIC,6,179.44,68

In [77]:
top_customers.drop(columns = ['transaction_id' , 'product_id'] , inplace = True)

In [78]:
top_customers['customer_id'].duplicated()

0        False
1         True
2         True
3        False
4         True
         ...
13623     True
13624    False
13625     True
13626     True
13627     True
Name: customer_id, Length: 13628, dtype: bool

In [79]:
unique_customer_id = top_customers['customer_id'].drop_duplicates()

In [80]:
unique_customer_id.shape

(2446,)

In [81]:
unique_customer_id = pd.merge(unique_customer_id , top_customers , on = 'customer_id' , how = 'left')

In [82]:
unique_customer_id.shape

(13628, 27)